/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cln-background {

}

.footer-div {
  position: absolute;
  top: 100%;
  width: 100%;
}
