/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

#imgDiv {
  text-align: center;

  img {
    width: 70%;
    margin-top: 5em;
    margin-bottom: 5em;
  }
}

.footer-div {
  position: absolute;
  top: 100%;
  width: 100%;
}
